<p id="notice"><%= notice %></p>

<%= link_to 'Voltar', {controller: "restaurants", action: "index"}, class: "btn btn-default" %>

<h1>Menus</h1>

<table class="table">
  <thead>
    <tr>
      <th style="display: none">Restaurant</th>
      <th>Menu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td style="display: none"><%= menu.restaurant_id %></td>
        <td><%= image_tag menu.menu.thumb.url %></td>
        <td><%= link_to 'Mostrar', menu, class:"btn btn-link" %></td>
        <td><%= link_to 'Excluir', menu, method: :delete, data: { confirm: 'Deseja mesmo excluir o menu?' }, class:"btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar menu', {controller: "menus", action: "new", restaurant_id: @restaurant_id }, class: "btn btn-primary" %>
