<p id="notice"><%= notice %></p>

<p style="display: none">
  <strong>Restaurant:</strong>
  <%= @menu.restaurant_id %>
</p>

<p>
  <strong>Menu:</strong>
  <%= image_tag @menu.menu.thumb.url %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', {controller: "menus", action: "index", restaurant_id: @menu.restaurant_id} %>