<p id="notice"><%= notice %></p>

<p style="display: none">
  <strong>Restaurant:</strong>
  <%= @menu.restaurant_id %>
</p>

<p>
  <strong>Produto:</strong>
  <%= image_tag @menu.menu.thumb.url %>
</p>

<%= link_to 'Editar', edit_menu_path(@menu), class: "btn btn-primary"%> |
<%= link_to 'Voltar', {controller: "menus", action: "index", restaurant_id: @menu.restaurant_id}, class: "btn btn-default" %>