<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjlK1Nh2kb7v3k1VEkpyPV07aRwf4YU9I"></script>

<%= form_for(restaurant) do |f| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :companyNmae, 'Nome do estabelecimento:' %>
    <%= f.text_field :companyNmae %>
  </div>
  
  <div class="field">
    <%= f.label :fantasyName, 'Nome fantasia:' %>
    <%= f.text_field :fantasyName %>
  </div>

  <div class="field">
    <%= f.label :description, 'Descrição:' %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :cnpj, 'Cnpj:' %>
    <%= f.text_field :cnpj %>
  </div>

  <div class="field" style="display: none;">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field" style="display: none;">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="field">
    <%= f.label :city_id, 'Cidade:' %>
    <%= collection_select(:restaurant, :city_id, City.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :category_id, 'Categoria:' %>
    <%= collection_select(:restaurant, :category_id, Category.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :open_sun, 'Aberto segunda-feira?' %>
    <%= f.check_box :open_sun %>
  </div>

  <div class="field">
    <%= f.label :open_mon, 'Aberto terça-feira?' %>
    <%= f.check_box :open_mon %>
  </div>

  <div class="field">
    <%= f.label :open_tues, 'Aberto quarta-feira?' %>
    <%= f.check_box :open_tues %>
  </div>

  <div class="field">
    <%= f.label :open_wed, 'Aberto quinta-feira?' %>
    <%= f.check_box :open_wed %>
  </div>

  <div class="field">
    <%= f.label :open_thurs, 'Aberto sexta-feira?' %>
    <%= f.check_box :open_thurs %>
  </div>

  <div class="field">
    <%= f.label :open_fri, 'Aberto sabado?' %>
    <%= f.check_box :open_fri %>
  </div>

  <div class="field">
    <%= f.label :open_sat, 'Aberto domingo?' %>
    <%= f.check_box :open_sat %>
  </div>

  <div id="googleMap" style="width:100%;height:400px;"></div>

  <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>

<script>
    var map;
    var myCenter;// = new google.maps.LatLng(51.508742, -0.120850);
    var markers = [];

    function initialize()
    {
        if (document.getElementById("restaurant_cnpj").value != null &&
            document.getElementById("restaurant_cnpj").value != "") {
            myCenter = new google.maps.LatLng(document.getElementById("restaurant_latitude").value,
                      document.getElementById("restaurant_longitude").value);
            configuraMapa();
        } else if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            myCenter = new google.maps.LatLng(-26.227103281705933,
                    -52.672061920166016);
            configuraMapa();
        }
    }

    function showPosition(position) {
        myCenter = new google.maps.LatLng(position.coords.latitude,
                position.coords.longitude);
        configuraMapa();
    }

    function configuraMapa() {
        var mapProp = {
            center: myCenter,
            zoom: 5,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        google.maps.event.addListener(map, 'click', function (event) {
            placeMarker(event.latLng);
        });

        var marker = new google.maps.Marker({
            position: myCenter,
            map: map
        });

        var latLng = myCenter.toString().replace("(","").replace(")", "").split(", ");
        document.getElementById("restaurant_latitude").value = latLng[0];
        document.getElementById("restaurant_longitude").value = latLng[1];

        markers.push(marker);
    }

    function placeMarker(location) {
        var latLng = location.toString().replace("(","").replace(")", "").split(", ");
        document.getElementById("restaurant_latitude").value = latLng[0];
        document.getElementById("restaurant_longitude").value = latLng[1];

        var marker = new google.maps.Marker({
            position: location,
            map: map
        });

        for (i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }

        markers.push(marker);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
