<p id="notice"><%= notice %></p>

<h1>Estabelecimentos</h1>

<table class="table">
  <thead>
    <tr>
      <th>Estabelecimento</th>
      <th>Descrição</th>
      <th>Cnpj</th>
      <th>Nome fantasia</th>
      <th>Cidade</th>
      <th>Categoria</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.companyNmae %></td>
        <td><%= restaurant.description %></td>
        <td><%= restaurant.cnpj %></td>
        <td><%= restaurant.fantasyName %></td>
        <td><%= restaurant.city_id %></td>
        <td><%= restaurant.category_id %></td>
        <td><%= link_to 'Fotos', {controller: "photos", action: "index", restaurant_id: restaurant.id}, class:"btn btn-link" %></td>
        <td><%= link_to 'Menus', {controller: "menus", action: "index", restaurant_id: restaurant.id}, class: "btn btn-link" %></td>
        <td><%= link_to 'Avaliações', {controller: "reviews", action: "index", restaurant_id: restaurant.id}, class: "btn btn-link" %></td>
        <td><%= link_to 'Editar', edit_restaurant_path(restaurant), class: "btn btn-link" %></td>
        <td><%= link_to 'Excluir', restaurant, method: :delete, data: { confirm: 'Deseja mesmo excluir o estabelecimento?' }, class: "btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar estabelecimento', new_restaurant_path, class: "btn btn-primary" %>
