<p id="notice"><%= notice %></p>

<p>
  <strong>Nome do estabelecimento:</strong>
  <%= @restaurant.companyNmae %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @restaurant.cnpj %>
</p>

<p>
  <strong>Nome fantasia:</strong>
  <%= @restaurant.fantasyName %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @restaurant.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @restaurant.longitude %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @restaurant.city_id %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @restaurant.category_id %>
</p>

<%= link_to 'Editar', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Voltar', restaurants_path %>
