<p id="notice"><%= notice %></p>

<p style="display: none">
  <strong>Restaurant:</strong>
  <%= @photo.restaurant_id %>
</p>

<p>
  <strong>Foto:</strong>
  <%= image_tag @photo.photo.thumb.url %>
</p>

<%= link_to 'Editar', edit_photo_path(@photo) %> |
<%= link_to 'Voltar', {controller: "photos", action: "index", restaurant_id: @photo.restaurant_id} %>
