<p id="notice"><%= notice %></p>

<%= link_to 'Voltar', {controller: "restaurants", action: "index"}, class: "btn btn-default" %>

<h1>Avaliações</h1>

<table class="table">
  <thead>
    <tr>
      <th>Lugar</th>
      <th>Preço</th>
      <th>Atendimento</th>
      <th>Comida</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.place %></td>
        <td><%= review.price %></td>
        <td><%= review.attendance %></td>
        <td><%= review.food %></td>
        <td><%= review.descriprion %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>